DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=weather_app_db

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASS=postgres
TEST_DB_NAME=test_weather_app_db


OW_API_KEY=your_api_key
OW_URL=https://api.openweathermap.org/data/2.5/weather

REDIS_HOST=localhost
REDIS_PORT=6379

MODE=DEV