version: "3.13"
services:
  db:
    image: postgres:15
    container_name: db
    env_file:
      - .env.docker
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    ports:
      - 6379:6379

  test_db:
    image: postgres:15
    container_name: test_db
    env_file:
      - .env.docker
    volumes:
      - ./docker/init-test-db:/docker-entrypoint-initdb.d
    command: ["postgres"]

  app:
    image: weather_app_image
    container_name: app
    build:
      context: .
    volumes:
      - .:/app
    env_file:
      - .env.docker
    depends_on:
      - db
      - test_db
      - redis
    command: ["/weather_app/docker/app.sh"]
    ports:
      - 8000:8000

volumes:
  pg_data: